In [6]:
import pandas as pd
from yahoofinancials import YahooFinancials

In [5]:
yahoo_financials = YahooFinancials(['DOW',])
temp = yahoo_financials.get_historical_price_data("2017-03-10", "2017-4-10", "daily")
print(temp)

{'DOW': {'eventsData': {}}}

In [7]:
#switched out DOW for TSLA
tickers = ['AAPL', 'AMGN','AXP','BA','CAT','CRM','CSCO','CVX','DIS','TSLA','GS','HD','HON','IBM','INTC','JNJ','JPM','KO','MCD','MMM','MRK','MSFT','NKE','PG','TRV','UNH','V','VZ','WBA','WMT']
print(len(tickers))
yahoo_financials = YahooFinancials(tickers)
temp = yahoo_financials.get_historical_price_data("2011-03-01", "2021-3-01", "daily")
df = pd.DataFrame()
df_pre = []
for a in tickers:
    for x in temp[a]['prices']:
        date = x['formatted_date']
        date2 = date[:4]+date[5:7]+date[8:]
        df_pre.append([date2, a, x['open'], x['high'], x['low'], x['adjclose'], x['volume']])
df = pd.DataFrame(df_pre, columns=['datadate', 'tic', 'open', 'high', 'low', 'adjcp', 'volume'])
df

30

,datadate,tic,open,high,low,adjcp,volume
0,20110301,AAPL,12.695357,12.704286,12.417143,10.745816,456136800
1,20110302,AAPL,12.498571,12.655357,12.442857,10.832259,602590800
2,20110303,AAPL,12.756786,12.849643,12.711429,11.061138,500788400
3,20110304,AAPL,12.859643,12.867500,12.776786,11.074675,453266800
4,20110307,AAPL,12.907143,12.916786,12.546786,10.931933,546123200
...,...,...,...,...,...,...,...
75475,20210222,WMT,137.740005,138.339996,136.250000,137.690002,10702200
75476,20210223,WMT,137.110001,137.389999,135.059998,135.470001,10433400
75477,20210224,WMT,135.869995,136.160004,133.050003,133.210007,15521900
75478,20210225,WMT,133.100006,134.009995,131.479996,131.949997,11108200
75479,20210226,WMT,131.479996,131.809998,129.860001,129.919998,14146800

In [8]:
df.to_csv("stock_data.csv")

In [28]:
df = pd.read_csv("done_data.csv")
data = df[(df.datadate >= 20110301) & (df.datadate < 20110401)]
data = data.sort_values(['datadate','tic'],ignore_index=True)
data.index = data.datadate.factorize()[0]

In [33]:
data2 = data.loc[0:14,:]
print(data2.loc[0].adjcp.values.tolist())

[10.745816230773926, 41.07742691040039, 37.19963455200195, 56.33110809326172, 75.52627563476562, 32.012500762939446, 13.879755020141602, 69.12543487548828, 37.85514831542969, 138.16670227050778, 29.043302536010746, 43.2952880859375, 114.34309387207031, 15.83035659790039, 45.38909530639648, 34.517852783203125, 23.7879638671875, 56.1139030456543, 68.90581512451172, 23.168975830078125, 20.873891830444336, 19.36783218383789, 46.127479553222656, 46.34609603881836, 4.788000106811523, 36.36486053466797, 16.922571182250973, 22.84408950805664, 33.208465576171875, 40.87687301635742]

In [36]:
print(data2.loc[0:13])

    Unnamed: 0  Unnamed: 0.1  datadate   tic        open        high  \
0            0             0  20110301  AAPL   12.695357   12.704286
0         2516          2516  20110301  AMGN   52.169998   52.490002
0         5032          5032  20110301   AXP   43.700001   43.939999
0         7548          7548  20110301    BA   71.930000   72.230003
0        10064         10064  20110301   CAT  103.370003  103.639999
..         ...           ...       ...   ...         ...         ...
14       62914         62914  20110321   UNH   42.830002   43.430000
14       65430         65430  20110321     V   17.959999   18.080000
14       67946         67946  20110321    VZ   36.660000   37.299999
14       70462         70462  20110321   WBA   41.470001   41.990002
14       72978         72978  20110321   WMT   51.730000   52.000000

          low      adjcp     volume      macd         rsi        cci  \
0   12.417143  10.745816  456136800  0.000000  100.000000  66.666667
0   51.740002  41.077427    6668500  0.000000    0.000000 -66.666667
0   43.110001  37.199635    8848900  0.000000    0.000000 -66.666667
0   69.989998  56.331108    5186200  0.000000    0.000000 -66.666667
0   99.349998  75.526276    7283700  0.000000  100.000000 -66.666667
..        ...        ...        ...       ...         ...        ...
14  42.660000  37.105247    4592100 -0.140313   53.714263 -22.855104
14  17.907499  16.750317   14807600 -0.080900   45.729459 -48.151003
14  36.380001  23.123146   27020700 -0.043110   55.298869  98.103335
14  41.150002  32.625454   11485800 -0.105330   46.602276 -41.042669
14  51.680000  41.044811    8716700 -0.031684   52.504128 -36.138863

           adx
0   100.000000
0   100.000000
0   100.000000
0   100.000000
0   100.000000
..         ...
14    5.337426
14   47.056642
14    6.034600
14   50.440522
14    4.337460

[450 rows x 13 columns]